@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
    <div>
        <table>
            <tr>
                <th>Customer</th>
                <th>Disount Rate</th>
                <th>Memberpship Name</th>
            </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.DiscountRate%
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
        </tr>
    }
    </table>
</div>


